<template>
  <div>
    <div class="columns" v-for="chunk in chunkedItems">
      <div class="column is-3" v-for="item in chunk">
        <div class="activity-card add-card has-text-centered" v-if="item.isAdd">
            <button class="button is-large is-outlined is-primary" @click="addActivity()">
              <span class="icon">
                <i class="fa fa-plus-circle"></i>
              </span>
              <span>
              Add new activity
              </span>
            </button>
        </div>
        <div class="card activity-card" v-if="!item.isAdd">
          <header class="card-header">
            <p class="card-header-title">{{item.activity_type_text}}</p>
            <a class="card-header-icon">
              <span class="tag is-success" v-if="item.isNew">new !</span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <span>{{ item.description }}</span>
              <br>
              <small v-bind:title="item.created_at | moment('calendar')">{{ item.created_at | moment("from") }}</small>
            </div>
          </div>
          <footer class="card-footer">
            <router-link class="card-footer-item" :to="{ name: 'activity', params: {'id': item.id }}">Open</router-link>
            <a class="card-footer-item" @click="editActivity(item)">Edit</a>
            <a class="card-footer-item is-danger" @click="removeActivity(item)">Delete</a>
          </footer>
        </div>
      </div>
    </div>
    <confirm-modal ref="confirmModal"></confirm-modal>
    <activity-modal ref="activityModal"></activity-modal>
  </div>
</template>

<script>
  import _ from 'lodash';
  import { mapActions } from 'vuex';
  import ConfirmModal from './ConfirmModal';
  import ActivityModal from './ActivityModal';

  export default {
    components: {
      ConfirmModal,
      ActivityModal,
    },
    created() {
    },
    methods: {
      ...mapActions([
        'addActivity',
      ]),
      addActivity() {
        const self = this;
        self.$refs.activityModal.open();
      },
      editActivity(item) {
        const self = this;
        self.$refs.activityModal.open(item);
      },
      removeActivity(item) {
        const self = this;
        self.$refs.confirmModal.open(`Deleting activity ${item.description}, are you sure ?`)
          .then(() => {
            self.$store.dispatch('removeActivity', item);
          })
          .catch(() => {})
          .then(() => self.$refs.confirmModal.close());
      },
    },
    computed: {
      chunkedItems() {
        const activities = [{ isAdd: true }, ...this.$store.getters.activities];
        return _.chunk(activities, 4);
      },
    },
    data() {
      return {
      };
    },
  };
</script>

<style scoped lang="scss">
  .columns {
    margin: 10px;
  }
  .activity-card {
    height: 100%;
  }
  .add-card {
    padding-top: 70px;
  }
</style>
