<template>
  <div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="notification">
          <p class="title is-1"> {{ activity.activity_type_text }}</p>
          <p class="subtitle"> {{ activity.description }} </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="columns">
          <div class="column is-4">
            <div class="notification has-text-centered">
              <p class="title is-1">3</p>
              <p class="subtitle">IN PROGRESS</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="notification has-text-centered">
              <p class="title is-1">3</p>
              <p class="subtitle">FINISHED</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="notification has-text-centered">
              <p class="title is-1">50%</p>
              <p class="subtitle">CLASS FINISHED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <table class="table is-striped">
          <thead>
          <tr>
            <th>Student</th>
            <th>Status</th>
            <th>Notebook</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="student in students">
            <td>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{ student.full_name }}</p>
                  <p class="subtitle is-6">{{ student.email }}h</p>
                </div>
              </div>
            </td>
            <td><span class="tag is-success is-bold">Started</span></td>
            <td><a target="_blank" href="/">View ></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapGetters } from 'vuex';

export default {
  components: {
  },
  computed: {
    ...mapGetters(['students']),
  },
  data() {
    const id = parseInt(this.$route.params.id, 10);
    return {
      activity: _.find(this.$store.getters.activities, a => a.id === id),
    };
  },
};
</script>

<style scoped lang="scss">
</style>
