<template>
  <div>
    <card-modal ref="modal" :visible="false" :title="title" @cancel="close()" @ok="onSubmit">
      <form @submit.prevent="onSubmit">
        <div class="field">
          <label class="label">Activity type</label>
          <p class="control">
            <span class="select is-medium">
              <select v-model="activity.activity_type">
                <option v-for="a in choices.activity_types" v-bind:value="a.type">{{a.text}}</option>
              </select>
            </span>
          </p>
        </div>
        <div class="field">
          <label class="label">Short description</label>
          <p class="control">
            <textarea class="input" placeholder="Short description" v-model="activity.description" rows="3"></textarea>
          </p>
        </div>
      </form>
    </card-modal>
  </div>
</template>

<script>
  import _ from 'lodash';
  import { CardModal } from 'vue-bulma-modal';

  const newActivity = {
    id: null,
    description: '',
    activity_type: 'hr_diagram',
  };

  export default {
    components: {
      CardModal,
    },
    validations: {
    },
    methods: {
      open(activity) {
        const self = this;
        self.activity = _.clone(activity || newActivity);
        self.$refs.modal.active();
      },
      close() {
        this.$refs.modal.deactive();
      },
      onSubmit() {
        this.$store.dispatch(this.activity.id ? 'editActivity' : 'addActivity', this.activity);
        this.close();
      },
    },
    data() {
      return {
        activity: _.clone(newActivity),
      };
    },
    computed: {
      title() {
        if (this.activity.id) {
          return `Edit activity ${this.activity.id}`;
        }
        return 'Add new activity';
      },
    },
  };
</script>

<style scoped lang="scss">
</style>
