<template>
  <div>
    <card-modal ref="modal" :visible="visible" :title="'Confirm'">
      <div class="content has-text-centered">
        <h1>
          {{ title }}
        </h1>
      </div>
    </card-modal>
  </div>
</template>

<script>
  import { CardModal } from 'vue-bulma-modal';

  export default {
    components: {
      CardModal,
    },
    methods: {
      open(title) {
        const self = this;
        self.title = title || 'Are you sure ?';
        self.$refs.modal.active();
        return new Promise((resolve, reject) => {
          self.$refs.modal.$once('ok', resolve);
          self.$refs.modal.$once('cancel', reject);
        });
      },
      close() {
        const self = this;
        self.$refs.modal.deactive();
      },
    },
    data() {
      return {
        visible: false,
        title: null,
      };
    },
  };
</script>

<style scoped lang="scss">
</style>
