<template>
  <div>
    <nav class="level notification">
      <div class="level-left">
        <div class="level-item">
          <p class="title is-4">
            Activities
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="field">
          <p class="control has-icons-right">
            <input class="input" type="text" placeholder="Search">
            <span class="icon is-small is-right">
                <i class="fa fa-search"></i>
              </span>
          </p>
        </div>
      </div>
    </nav>
    <div class="columns" v-for="chunk in items">
      <div class="column" v-for="item in chunk">
        <div class="card activity-card">
          <router-link :to="{name: 'activities'}">
          <div class="card-content bg-light">
              <div class="content">
                <p class="title is-4">{{ item.title }}</p>
              </div>
            <div style="text-align: right">
              <span class="tag" :class="{'is-warning': item.status === 'draft', 'is-success': item.status === 'ready'}">{{item.status}}</span>
            </div>
          </div>
          </router-link>
          <footer class="card-footer bg-light">
            <span class="card-footer-item">
              <span class="rate-name">{{item.views}}</span>
              <span class="is-icon is-small"><i class="fa fa-eye"></i></span>
            </span>
            <span class="card-footer-item">
              <span class="rate-name">{{item.stars}}</span>
              <span class="is-icon is-small"><i class="fa fa-star"></i></span>
            </span>
            <span class="card-footer-item">
              <span class="rate-name">{{item.comments}}</span>
              <span class="is-icon is-small"><i class="fa fa-comment"></i></span>
            </span>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash';

  export default {
    components: {
    },
    data() {
      const items = [
        {
          title: 'Interacting Stars and the Gravitational N-body Problem',
          views: 10,
          stars: 10,
          comments: 10,
          status: 'draft',
        },
        {
          title: 'Finding Planets Around Other Stars',
          views: 10,
          stars: 10,
          comments: 10,
          status: 'draft',
        },
        {
          title: 'How Charge-Couple Devices (CCDs) Work',
          views: 10,
          stars: 10,
          comments: 10,
          status: 'draft',
        },
        {
          title: 'The H-R diagram - a window to the stars',
          views: 10,
          stars: 10,
          comments: 10,
          status: 'ready',
        },
        {
          title: 'Black Hole Hunter',
          views: 10,
          stars: 10,
          comments: 10,
          status: 'draft',
        },
        {
          title: 'Refraction',
          views: 10,
          stars: 10,
          comments: 10,
          status: 'draft',
        },
      ];
      return {
        items: _.chunk(items, 3),
      };
    },
  };
</script>

<style scoped lang="scss">
  .card-content .content {
    display: flex;
    height: 150px;
  }
  .card-footer-item {
    border-right: none;
  }
  .rate-name {
    margin-right: 10px;
    line-height: 25px;
  }
</style>
