<template>
  <div class="login-wrapper columns">
    <div class="column is-8 is-hidden-mobile hero-banner">
      <section class="hero is-fullheight is-dark">
        <div class="hero-body">
          <div class="container section">
            <div class="has-text-right">
              <h1 class="title is-1">Login</h1> <br>
              <p class="title is-3">Secure User Account Login</p>
            </div>
          </div>
        </div>
        <div class="hero-footer">
        </div>
      </section>
    </div>
    <div class="column is-4">
      <section class="hero is-fullheight">
        <div class="hero-heading">
          <div class="section has-text-centered">
            <div class="lsst-logo"></div>
          </div>
        </div>
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <div class="tile login-form">
                  <form v-on:submit.prevent="!loading && onSubmit()">
                    <div class="field">
                        <p class="control has-icon has-icon-right">
                          <input class="input email-input" type="text" placeholder="email" v-model="email" @change="onChange()">
                          <span class="icon user">
                          <i class="fa fa-user"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icon has-icon-right">
                          <input class="input password-input" type="password" placeholder="password" v-model="password">
                          <span class="icon user">
                          <i class="fa fa-lock"></i>
                        </span>
                        </p>
                    </div>
                    <p class="help is-danger login-error" v-bind:class="{'login-error-show': error}">{{ error || 'dummy' }}</p>
                    <p class="control login">
                      <button type="submit" class="button is-outlined is-primary is-large is-fullwidth" :disabled="loading" v-bind:class="{'is-loading': loading}">Login</button>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
  import { auth } from '@/services';

  export default {
    data() {
      return {
        loading: false,
        error: '',
        email: '',
        password: '',
      };
    },
    created() {
    },
    watch: {
      email() {
        this.onChange();
      },
      password() {
        this.onChange();
      },
    },
    methods: {
      onChange() {
        const self = this;
        self.error = null;
      },
      onSubmit() {
        const self = this;
        self.loading = true;
        auth.loginUser(self.email, self.password)
          .then(() => {
            self.error = null;
            self.$router.push({ name: 'home' });
          })
          .catch(() => {
            self.error = 'Wrong user or password';
          })
          .then(() => { this.loading = false; });
      },
    },
  };
</script>

<style scoped lang="scss">
  html,body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .email-input,
  .password-input {
    font-size: 20px;
    padding-left: 15px;
    color: #95A5A6;
  }

  .icon.user,
  .icon.password {
    margin: 5px 10px 0 0;
  }

  .forgot-password a {
    color: #95A5A6;
    font-weight: bold;
    padding-right: 20px;
  }

  .login {
    padding-top: 20px;
  }

  .login button {
    font-weight: bold;
  }

  .hero-body .container {
    margin-top: -100px;
  }

  .hero.is-dark .section {
    background-color: transparent;
  }

  .login-wrapper {
    margin: -0.75rem;
    overflow-y: hidden;
  }

  .hero-banner .hero {
    background: url('https://static01.nyt.com/images/2015/04/23/science/hubble_25/hubble_25-jumbo.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
  }

  .hero-banner .title {
    display: inline-block;
    background-color: rgba(0,0,0, 0.6);
    padding: 5px;
  }
  .login-error {
    visibility: hidden;
    &.login-error-show {
      visibility: visible;
    }
  }
</style>
