<template>
  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <router-link :to="{ name: 'home' }" exact active-class="is-active" class="nav-item">
          <div class="lsst-logo2"></div>
        </router-link>
        <router-link :to="{ name: 'home' }" exact active-class="is-active" class="nav-item is-tab is-hidden-mobile">Home</router-link>
        <router-link :to="{ name: 'activities' }" active-class="is-active" class="nav-item is-tab is-hidden-mobile">Your Activities</router-link>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab" @click="logoutUser()">Log out</a>
      </div>
    </div>
  </nav>
</template>

<script>
  import { auth } from '@/services';
  import router from '@/router';

  export default {
    methods: {
      logoutUser() {
        auth.logoutUser();
        router.push({ name: 'login' });
      },
    },
    data() {
      return {
      };
    },
  };
</script>

<style scoped lang="scss">
</style>
