<template>
  <div>
    <nav-bar></nav-bar>
    <router-view class="section"></router-view>
  </div>
</template>

<script>
  import NavBar from './NavBar';

  export default {
    components: {
      NavBar,
    },
    created() {
    },
    data() {
      return {
      };
    },
  };
</script>

<style scoped lang="scss">
</style>
