.lsst-logo {
  content: url('../assets/lsst.png');
  display: inline-block;
  box-sizing: border-box;
  width: 400px;
}

.lsst-logo2 {
  content: url('../assets/lsst2.png');
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
}
